 * {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: verdana;
    background-color: #eeeeee;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

#personalheader p {
     color: white;
     padding: 15px;
     padding-top: 40px;
     padding-bottom: 40px;

}

#personalheader {
     background-color: #110033;
     position: fixed;
     width: 100%;

}

 #footer ul li {
  background-color: #110033;
  list-style-type: none;
  color: white;
  padding: 10px;
  cursor: pointer;
 }

 #footer ul li:hover {
  color: orange;
 }

#footer {
  background-color: #110033;
  position: relative;
  padding-top: 90px;
}

#footer {
  padding: 70px;
}

#footermain {

  height: auto;
  clear: both;
  margin: auto;
  margin-top: 90px;
}


#lastDivSection {
  position: relative;
    bottom: 0px;
    background-color: #183148;
}

#lastDivSection p {
  text-align: center;
  padding: 20px;
  color: orange;
  background-color: #183148;
}

form p {
  display: inline;
   margin-bottom: 20px;

}



form {
    background-color: white;
}
input {
  background-color: #fafafa;

  border: none;
}
.rute {
    width: 50%;
    padding: 15px;
    border-radius: 5px;
    margin-left: 2.5%;
    background-color: #b0f1fc;
     border: none;
}
.rute1 {
    width: 24%;
    padding: 15px;
     border-radius: 5px;

     background-color: #eeeeee;
     border: none;
}
.rute2 {
    width: 16%;
    padding: 13px;
     border-radius: 5px;
     background-color: #eeeeee;
     border: none;
}

#multiformSection {
  background-color: white;
  margin-top: 150px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

#multiformSection1 {

}

#firstButton {
  background-color: #183148;
  color: white;
  padding: 15px;
   padding-top: 12px;
  padding-bottom: 20px;
  border: none;
  width: 40%;

  /*margin-top: 10px;*/
  margin-left: 3%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#secondButton {
  background-color: green;
  color: white;
  padding: 15px;
  padding-top: 12px;
  padding-bottom: 20px;
  border: none;
 float: right;
  /*margin-top: 2px;*/
  margin-right: 11%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.titleForm {
  margin-bottom: 10px;
  margin-top: 20px;
   background-color: white;
}

.titleForm p:first-child {
     margin-left: 2.4%;
     background-color: white;
     color: black;
     padding-top: 8px;
     padding-bottom: 8px;
     padding-right: 3%;
     padding-left: .5%;

}
.titleForm p:nth-child(2) {
     margin-left: 39%;
     background-color: white;
     color: black;
     padding-top: 8px;
     padding-bottom: 8px;
     padding-right: 3%;
     padding-left: .5%;



}

.titleForm p:nth-child(3) {
     margin-left: 8.5%;
     background-color: white;
     color: black;
     padding-top: 8px;
     padding-bottom: 8px;
     padding-right: 3%;
     padding-left: .5%;

}

.text-center{
  /*text-align: center!important;*/
}

.link{
  cursor: pointer;
}
.midInput {
  margin-top: 5px;
  margin-bottom: 7px;
   background-color: white;
}

.sectionA, .sectionB, .sectionC, .sectionD,
.sectionE, .sectionF, .sectionG, .sectionH,
.sectionI, .sectionJ, .sectionK, .sectionL,
.sectionM, .sectionN, .sectionO, .sectionP
 {
    background-color: white;
}
#dfrm {
  background-color: white;
}

.section0 {
  background-color: white;
}

#firstButtonDiv, #secondButtonDiv {
  background-color: white;
}

#buts {
   background-color: white;
}
