#modalRate, #modalRate1 {
	padding: 6px;
	color: white;
	display: inline;
	float: right;
	border-radius: 50px;
	border: 3px solid orange;
	background-color: green;
    cursor: pointer;
}

#modalRate1 {

}

#modalReview1 {
	margin-top: 5px;
	margin-right: 0px;
	font-weight: bold;
	float: right;
	color: #110033;
	clear: both;
	cursor: pointer;
}
#modalContainer5 {
   -webkit-animation-name: zoom;
   -webkit-animation-duration: 1s;
   animation-name: zoom;
   animation-duration: 1s;
   background-color: transparent;
}
#modal5 {
  /*display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
@keyframes zoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

@-webkit-keyframes zoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

#modalContainer5 {
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
}
